{% extends 'paginas/modelo.html' %}
{% load static %}

{% block titulo %}
<title>Home</title>
{% endblock %}

{% block conteudo %}
    <h3> Conteúdo da pagina inicial</h3>
    {% if user.perfil.nome_completo %}
    <strong>{{ user.perfil.nome_completo }}</strong> seja bem vindo.
    {% else %}
    Você precisa completar o seu cadastro. Acesse o <a href="{% url 'atualizar-dados' %}">seu perfil</a>.
    {% endif %}
{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script>
    $(document).ready(function(){
        alert("OK")
    })
</script>
{% endblock %}