{% extends 'paginas/modelo.html' %}
{% load static %}

{% block titulo %}
<title>Solicitação</title>
{% endblock %}

{% block conteudo %}

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <p class="mb-4">Área restrita apenas para o gestor.</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h4 class="h3 mb-1 text-gray-800">{{ titulo }}</h4>
                            <h6 class="h6 mb-1 text-gray-800">Essas solicitações precisão ser aceitas para poderem ser processadas</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-primary table-hover " id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Status</th>
                                            <th>Categoria</th>
                                            <th>Produto</th>
                                            <th>Quantidade</th>
                                            <th>Destino</th>
                                            <th>Observação</th>
                                            <th>Baixa em Estoque</th>
                                        </tr>

                                        {% for solicita in solicitacao_list %}
                                        {% if solicita.status == "Aceito" %}
                                        <tr>

                                            <td>{{ solicita.status }}</td>
                                            <td>{{ solicita.categoria }}</td>
                                            <td>{{ solicita.produto_solicita }}</td>
                                            <td>{{ solicita.quantidade_solicita }}</td>
                                            <td>{{ solicita.destino }}</td>
                                            <td>{{ solicita.observacao_solicita }}</td>
                                            <td align="center">
                                                    <a href="{% url 'dando-baixa' solicita.pk %}" class="btn btn-primary btn-sm" title="Baixa Estoque">
                                                        <i class="fa-solid fa-arrow-down-arrow-up"></i>
                                                        Dar Baixa
                                                    </a>
                                            </td>
                                            {% endif %}
                                        </tr>
                                        {% empty %}

                                        <tr>
                                            <td colspan="6">Nenhum local registrado.</td>
                                        </tr>

                                        {% endfor %}

                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

