{% extends 'paginas/modelo.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block titulo%}
<title>{{ titulo }}</title>
{% endblock %}

{% block conteudo %}
<div class="col-xl-6 mx-auto mt-4" id="cenario">
    <div class="card shadow mb-4" id="formulariogeral">
        <div class="card-header py-3">
            <h2 align="center" class="mt-4">{{ titulo }}</h2>
                <p align="center">
                    Atenção ao alterar os dados registrados.
                </p>
        </div>
        <div class="card-body">
            <form action="" method="post" >
                {% csrf_token %}
                <div class="row">
                    <div class="col">
                        {{ form.nome_categoria|as_crispy_field }}
                    </div>
                </div>
                {{ form_setor.management_form }}
                <div class="inlineform  ml-5 mr-5">
                <legend style="border-bottom: 1px solid #e5e5e5" class="mr-2">Setores</legend>
                    {% for formset in form_setor %}
                        <div class="row ml-2">
                            <div class="col-8">
                                {{ formset.nome|as_crispy_field }}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-primary mt-4 btn-block">{{ botao }}</button>
                    <a href="#" onclick="history.go(-1)" class="btn btn-danger mt-1" style="whidth:100%">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts%}
    <script src="{% static 'js/jquery.mask.min.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            $('.inlineform .row').formset({
                prefix: '{{ formset.prefix }}',
                addText: '+ Novo',
                deleteText: 'Excluir',
                addCssClass: 'btn btn-primary ml-4',
                deleteCssClass: 'col-2 mt-4 btn btn-outline-sm-danger p-2',
            });
        });
    </script>
    <script>
        $("#formulario").click(()=>{
            $("#formulariogeral").clone().appendTo($("#cenario"))
        })

        function goBack(){
            document.EventListener('click'){
                window.history.back()
            }
        }
    </script>
{% endblock %}

