{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block titulo %}
        <title>Vettore</title>
    {% endblock %}

    <!-- Custom fonts for this template-->
    <link href="{% static 'fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Wrapper de página -->
    <div id="wrapper">
{% block menu%}
        <!-- Barra Lateral -->
        <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar" style="background-color:#142e4f">

            <!-- Barra lateral - Marca -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'index' %}">
                <div class="sidebar-brand-icon ">
                    <img src="{% static 'img/LOGO DOURADO PNG.png' %}" style="whidth:60px; height:48px">
                </div>
                <div class="sidebar-brand-text mx-3">Vettore <sup>PROMOTORA</sup></div>
            </a>

            <!-- Divisor -->
            <hr class="sidebar-divider my-0">

            <!-- Item de navegação - Painel -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Painel</span></a>
            </li>

            <!-- Divisor -->
            <hr class="sidebar-divider">

            <!-- Cabeçalho -->
            <div class="sidebar-heading">
                Material
            </div>

            <!-- Item de navegação - Menu Recolher Páginas -->

            {% if user.groups.all.0.name != "Administrador" %}
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-box-open"></i>
                    <span>Estoque</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Definição de Estoque:</h6>
                        <a class="collapse-item" href="{% url 'listar-produtos' %}">
                            <i class="fa-sharp fas fa-list-ol"></i>
                            Consultar
                        </a>
                        <a class="collapse-item" href="{% url 'estoque:estoque_entrada_list' %}">
                            <i class="fas fa-arrow-right"></i>
                            Entrada
                        </a>
                        <a class="collapse-item" href="{% url 'estoque:estoque_saida_list' %}">
                            <i class="fas fa-arrow-left"></i>
                            Saída
                        </a>
                                    <!-- Item de navegação - Tabelas -->
                    </div>
                </div>
            </li>
            {% endif %}

            <!-- Item de navegação - Menu Recolher Utilitários -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-dolly"></i>

                    <span>Solicitações</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">solicitar:</h6>
                        {% if user.groups.all.0.name != "Administrador" %}
                            <a class="collapse-item" href="{% url 'listar-solicitacao' %}">
                                <i class="fa fa-arrow-up-small-big"></i>
                                Minhas Solicitações
                            </a>
                        {% endif %}

                        {% if user.groups.all.0.name == "Administrador" %}
                            <a class="collapse-item" href="{% url 'listar-solicitacaoadmin' %}">
                                <i class="fas fa-spinner"></i>
                                Pendentes
                            </a>
                            <a class="collapse-item" href="{% url 'listar-solicitacaoaceita' %}">
                                <i class="fas fa-check"></i>
                                Aceitas
                            </a>
                        {% endif %}
                    </div>
                </div>
            </li>

<!--            &lt;!&ndash; Divisor &ndash;&gt;-->
<!--            <hr class="sidebar-divider">-->

<!--            &lt;!&ndash; Cabeçalho &ndash;&gt;-->
<!--            <div class="sidebar-heading">-->
<!--                Funcionalidades-->
<!--            </div>-->

            <!-- Item de navegação - Menu Recolher Páginas -->
            {% if user.groups.all.0.name == "Administrador" %}
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
                        aria-controls="collapsePages">
                        <i class="fas fa-users"></i>
                <!-- <i class="fas fa-fw fa-folder"></i>-->
                        <span>Estoque</span>
                    </a>
                    <div id="collapsePages" class="collapse" aria-labelledby="headingPages"
                        data-parent="#accordionSidebar">

                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Estoque:</h6>

                            <a class="collapse-item" href="{% url 'listar-produtos' %}">
                                <i class="fas fa-box-open"></i>
                                Produtos
                            </a>
                            <a class="collapse-item" href="{% url 'cadastrar-produtos' %}">
                                <i class="fa-sharp fas fa-clipboard-list"></i>
                                Adcionar Produto
                            </a>
                            <a class="collapse-item" href="{% url 'estoque:estoque_entrada_list' %}">
                                <i class="fas fa-arrow-right"></i>
                                Entrada
                            </a>
                            <a class="collapse-item" href="{% url 'estoque:estoque_saida_list' %}">
                                <i class="fas fa-arrow-left"></i>
                                Saída
                            </a>
                                        <!-- Item de navegação - Tabelas -->
                            <a class="collapse-item" href="{% url 'cadastrar-dados' %}">
                                <i class="fas fa-file-upload"></i>
                                <span>Importar</span>
                            </a>
                        </div>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages1" aria-expanded="true"
                        aria-controls="collapsePages1">
                        <i class="fas fa-id-card"></i>
    <!--                    <i class="fas fa-fw fa-folder"></i>-->
                        <span>Cadastro</span>
                    </a>

                    <div id="collapsePages1" class="collapse" aria-labelledby="headingPages"
                        data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Cadastros:</h6>
                            <a class="collapse-item" href="{% url 'cadastrar-local' %}">
                                <i class="fa-sharp fas fa-building"></i>
                                Loja
                            </a>
                            <a class="collapse-item" href="{% url 'listar-usuario' %}">
                                <i class="fa-sharp fas fa-users"></i>
                                Usuário
                            </a>
                            <a class="collapse-item" href="{% url 'cadastrar-categoria' %}">
                                <i class="fas fa-sitemap"></i>
                                Departamento
                            </a>
                            <a class="collapse-item" href="{% url 'cadastrar-banco' %}">
                                <i class="fas fa-sitemap"></i>
                                Banco
                            </a>
    <!--                        <div class="collapse-divider"></div>-->
    <!--                        <h6 class="collapse-header">Outras Páginas:</h6>-->
    <!--                        <a class="collapse-item active" href="blank.html">Página em branco</a>-->
                        </div>
                    </div>
                </li>
            {% endif %}
            <!-- Divisor -->
<!--            <hr class="sidebar-divider">-->

<!--            <div class="sidebar-heading">-->
<!--                Análises-->
<!--            </div>-->

            <!-- Item de navegação - Gráficos -->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="charts.html">-->
<!--                    <i class="fas fa-fw fa-chart-area"></i>-->
<!--                    <span>Relatório</span></a>-->
<!--            </li>-->

            <!-- Divisor -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Alternador da barra lateral (barra lateral) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- Fim da barra lateral -->

        <!-- Conteúdo wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Conteúdo principal -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Alternância da barra lateral (barra superior) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Pesquisa na barra superior -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" name="search" class="form-control bg-light border-0 small" placeholder="Procurar por..."
                                aria-label="Search" aria-describedby="basic-addon2" onkeyup="pesquisar()">
                            <div class="input-group-append">

                                <button class="btn btn-primary" type="submit" style="background-color:#142e4f">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Barra de navegação superior -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Item de navegação - Lista suspensa de pesquisa (Visível apenas XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Lista suspensa - Mensagens -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Item de navegação - Alertas -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Contador - Alertas -->

                                <span class="badge badge-danger badge-counter">{{ Notificar }}</span>
                            </a>
                            <!-- Lista suspensa - Alertas -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Central de alertas
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <!-- Item de navegação - Mensagens -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Contador - Mensagens -->
                                <span class="badge badge-danger badge-counter">

                                </span>
                            </a>
                            <!-- Lista suspensa - Mensagens -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Central de mensagens
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="{% static 'img/undraw_profile_1.svg' %}"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Os previews das mensagens vem aqui.</div>
                                        <div class="small text-gray-500">Vettore Promotora · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Leia mais mensagens</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Item de navegação - Informações do usuário -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ request.user }}</span>
                                <i class="fas fa-user-circle"></i>
                            </a>

                            <!-- Lista suspensa - Informações do usuário -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                {% if request.user.groups.all.0.name == "Administrador" %}
                                    <a class="dropdown-item" href="{% url 'atualizar-dados-adm' request.user.pk %}">
                                {% else %}
                                    <a class="dropdown-item" href="{% url 'atualizar-dados' request.user.pk %}">
                                {% endif %}
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Perfil
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    definições
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Registro de atividade
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
{% endblock menu %}
                <!-- Fim da barra superior -->

                <!-- Iniciar conteúdo da página -->
                <div class="container-fluid">

                    <!-- Título da página -->
<!--                    <h1 class="h3 mb-4 text-gray-800">{{ titulo }}</h1>-->
                    {% block conteudo %}

                        {% if user.perfil.nome_completo %}
                            <strong>{{ user.perfil.nome_completo }}</strong> seja bem vindo.
                        <br>
                        {% else %}
                            Você precisa completar o seu cadastro. Acesse o <a href="{% url 'atualizar-dados' %}">seu perfil</a>.
                        <br>
                        {% endif %}


                    {% endblock %}
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- Fim do conteúdo principal -->
                {% block rodape %}
                <!-- Rodapé -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Plataforma Desenvolvida por Alex para Vettore Promotora 2022</span>
                        </div>
                    </div>
                </footer>
                <!-- Fim do rodapé -->
                {% endblock rodape %}
        </div>
        <!-- Fim de conteúdo -->

    </div>
    <!-- Fim de página -->

    <!-- Role até o botão superior-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Selecione "Logout" abaixo se estiver pronto para encerrar sua sessão atual.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/jquery.mask.min.js' %}"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>

</body>
{% for message in messages %}
    <script>
        var m = "{{message}}";

        Swal.fire({
                     position: 'top-end',
                     icon: 'success',
                     title: m,
                     showConfirmButton: false,
                     timer: 3000
                   })
    </script>
{% endfor%}
{% block scripts %}

{% endblock %}
</html>