{% extends 'paginas/modelo.html' %}
{% load static %}

{% block titulo %}
<title>Categoria</title>
{% endblock %}


{% block conteudo %}
<div class="row">
    <div class="col-md-6 mx-auto mt-4">
        <h3 class="mt-4">{{ titulo }}:</h3>
    </div>
    <div class="col-md-2 mx-auto mt-4">
        <a href="{% url 'cadastrar-categoria' %}" class="btn btn-primary btn-sm mt-4">
            <i class="fa-solid fa-plus"></i>
            Nova categoria
        </a>
    </div>
    <hr>

    <div class="col-md-10 mx-auto ">
        <table class="table table-striped">
            <tr>
                <th>Cod</th>
                <th>Nome</th>
                <th>opção</th>

            </tr>

            {% for ctg in object_list %}
            <tr>
                <td>{{ ctg.pk }}</td>
                <td>{{ ctg.nome }}</td>
                <td>
                    <a href="{% url 'editar-categoria' ctg.pk %}" class="btn btn-warning btn-sm" title="Editar">
                        <i class="fa-solid fa-pencil"></i>
                    </a>
                    <a href="{% url 'excluir-categoria' ctg.pk %}" class="btn btn-danger btn-sm" title="Excluir">
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">Nenhum campo registrado.</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
